*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  height: 100%
}

header{
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

section{
  min-height: 100vh;
}

  /*===Navbar===*/
nav{
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
}

.navbar ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navbar ul li{
  margin: 10px;
}

 a:link, a:visited{
  color: #000000;
  text-decoration: none;
}

a:hover, a:active{
  text-decoration: underline;
}

/*===Intro section===*/

.intro{
  z-index: 1;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text{
  color: black;
  font-size: 3rem;
}

.hide{
  background: white;
  overflow: hidden;
}

.hide span{
  transform: translateY(100%);
  display: inline-block;
}

/*===Section Me===*/

.Me{
 background: linear-gradient(to left, #2F80ED, #56CCF2);

 display: flex;
 justify-content: center;
}


.Me ul{
  list-style-type: none;
}

.Me-img{
  margin-top: 3em;
  background-color: #FFFFFF;
  z-index: -1;
}

.Me-img img{
  position: relative;
  top: 2.5vh;
  left: 2.5vh;
}

.Me-text{
  margin-top: 10vh;
  color: #FFFFFF;
}

/*===section-skills===*/

.My-Skills{
  background-color: #FFFFFF;
  color: #2E2E2E;
}

.skill-section-layout{
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.skill-section-layout h1{
  margin-top: 3vh;
  text-align: center;
  width: 40%;
}

.title-skill-container{
  display: flex;
  justify-content: center;
}

.skill-section-layout li{
  list-style-type: none;
  margin: 5vh;
  padding: 10px;
  margin-left: 5vh;
}

.bar{
  width: 60%;
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,.1);
}

.bar:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(to left, #2F80ED, #56CCF2);
}

/*===Hard skills bar===*/

.html{
  width: 90%;
  animation: html 3s;
}

.javascript{
  width: 90%;
  animation: javascript 3s;
}

.react-native{
  width: 90%;
  animation: react-native 3s;
}

.data-science{
  width: 90%;
  animation: data-science 3s;
}

.blockchain{
  width: 90%;
  animation: blockchain 3s;
}

@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes react-native{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes data-science{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes blockchain{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

/*===Soft skills bar===*/

.soft-skills{
  height: 90vh;
}

.soft-skills li{
  margin-top: 20vh;
}

.soft-skills li:first-of-type{
  margin-top: 7vh;
}

.precision{
  width: 90%;
  animation: precision 3s;
}

.creativity{
  width: 90%;
  animation: creativity 3s;
}

.networking{
  width: 90%;
  animation: networking 3s;
}

@keyframes precision{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes creativity{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes networking{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

/*===My works section===*/

.Works{
  background: linear-gradient(to left, #2F80ED, #56CCF2);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.My-works-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.My-works-content h1{
  color: #FFFFFF;
  margin-top: 3vh;
}

.works-container{
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.button-container{
 padding: 20px;
 background: #FFFFFF;
 border-radius: 5px;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 transition: all 0.3s cubic-bezier(.25,.8,.25,.1);
}

.button-container:hover,
.button-container:active{
  background: #D3D3D3;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.works-button-design{
  display: flex;
  width: 30vh;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

/*===Contact section===*/

.Contact{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contact-content{
  width: 80%;
  height: 80vh;
}

.contact-text-container{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  background: linear-gradient(to left, #2F80ED, #56CCF2);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contact-text{
  color: #FFFFFF;
}

.contact-text h1{
  font-size: 5vh;
  line-height: 1.5em;
}

.contact-text p{
  font-size: 2.5vh;
  line-height: 2em;
}

.Contact a:visited,
a:active, a:link {
  color: white;
  text-decoration: none;
}

.Contact a:hover{
  text-decoration: underline;
}

/*===Footer===*/

footer{
  width: 100%;
  color: black;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (min-width: 1025px) {
/*===Navbar===*/
  .navbar ul li{
    margin: 50px;
  }
/*===Scrollbar===*/
  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background-color: #FFFFFF;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb{
    background: #808080;
    border-radius: 10px;
  }
/*===Section Me===*/
  .Me ul{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .Me ul{
    margin-top: 15vh;
  }

  .Me ul li:last-of-type{
    margin-top: 15vh;
    margin-left: 25vh;
  }

  .Me h1{
    font-size: 5vh;
  }

  /*===section-skills===*/

  .section-skills-content{
    display: flex;
    flex-direction: row;
  }

  .skill-section-layout{
    width: 50%;
  }

  .skill-section-layout h1{
    font-weight: normal;
    margin: 2em 0;
  }

  .skill-section-layout li{
    margin: 4vh;
  }

  .skill-section-layout li:first-of-type{
    margin-top: 2vh;
  }

  .soft-skills li{
    margin-top: 20vh;
  }

  /*===My-works-section===*/

  .works-container{
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .button-container{
    margin-top: 5vh;
    padding: 40px;
    /*border-radius: 40px;*/
  }

  .My-works-content h1{
    margin-top: 50px;
    font-size: 7vh;
  }

  .works-button-design{
   width: 50vh;
   height: 30vh;
   font-size: 5vh;
   text-align: center;
 }

 /*===Conatct section===*/

 .contact-text{
   display: flex;
   justify-content: center;
   text-align: flex-start;
   flex-direction: column;

   width: 50%;
   height: 100%;
 }

 .contact-text h1,p{
   margin-left: 15vh;
 }

 .contact-text h1{
   font-size: 7vh;
 }

 .contact-text p{
   font-size: 3vh;
 }
}
